.btn {
  background: var(--color-primary);
  border-radius: 8px;
  color: #ffffff;
  height: 3rem;
  padding: 0 1.25rem;
  font-size: 1rem;

  &:hover {
    background: var(--color-primary2);
  }
}

.btnExclude {
  font-size: 0.625rem;
  height: 1.1875rem;
  padding: 0 0.5625rem;
  background: var(--grey-2);
  color: var(--grey-4);
  border-radius: 2px;

  &:hover {
    background: var(--grey-4);
    color: var(--grey-2);
  }
}
